node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
.git
.gitignore
.env
.env.*
.venv
**/__pycache__
**/*.pyc
.vscode
.idea
.DS_Store
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
.eslintcache
**/.eslintcache
